body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f6fa;
  color: #111;
}

.header {
  display: flex;
  display: inline inline-block;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: white;
  background-image: url(../Assets/Hero-bg.png);
  height: 500px;
  width: 2000px;
}

.logo {
  font-size: 24px;
  color: #3b49f4;
  font-weight: bold;
}

.signup {
  background-color: #3b49f4;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
}

.hero {
  text-align: center;
  padding: 100px 20px 60px;
}

.hero h1 {
  font-size: 36px;
  margin: 10px 0;
}

.btn {
  display: inline-block;
  background-color: #3b49f4;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 20px;
}

.features {
  text-align: center;
  padding: 60px 20px;
  background-color: #fff;
}

.features h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.features p {
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto;
  color: #444;
}

.cta {
  text-align: center;
  padding: 60px 20px;
  background-color: #3b49f4;
  color: white;
}

.cta h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #eee;
  font-size: 14px;
  color: #555;
}
